@charset "UTF-8";
/* CSS Document */

/*Desktop View*/

h1 {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 300;
	color: #6B6B6B; 
	float:inherit;
	text-indent: 12px
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding:12px 14px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Style the navigation menu */
.topnav {
	display: none;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #6D6D6D;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #555555;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: transparent;
  color: #CBCBCB;
}

/* Style the active link (or home/logo) */
.active {
  background-color: transparent;
  color: #A1A1A1;
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	padding: 16px;
}

/*Tablet View*/

@media (max-width: 768px)	 {

	.topnav {
		display: none;
	}





	





/*Mobile View*/

@media (max-width: 400px)	{
/* 48em = 768px */
	.topnav {
	display: block;
  overflow:hidden;
  background-color: transparent;
  position: relative;
}

	
	ul {
		display: none;
	}
